
URxvt.font: xft:Source Code Pro:size=10.5
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 5
URxvt*geometry: 70x19


rofi.color-enabled: true
rofi.color-window: #34343e, #759496, #759496
rofi.color-normal: #34343e, #b0c4bb, #759496, #b0c4bb, #78824B
rofi.color-active: #34343e, #b0c4bb, #759496, #b0c4bb, #78824B
rofi.color-urgent: #34343e, #b0c4bb, #759496, #b0c4bb, #78824B

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 5
rofi.font: Source Code Pro Semibold 10.5
rofi.bw: 1
rofi.columns: 2
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true

! Xterm configuration
xterm*faceName: DejaVu Sans Mono for Powerline
!xterm*faceName: Inconsolata	
xterm*faceSize: 10
xterm*renderFont: true




!! -----------------------------------------------------------------------------
!! File: gruvbox-dark.xresources
!! Description: Retro groove colorscheme generalized
!! Author: morhetz <morhetz@gmail.com>
!! Source: https://github.com/morhetz/gruvbox-generalized
!! Last Modified: 6 Sep 2014
!! -----------------------------------------------------------------------------
!
!! hard contrast: *background: #1d2021
!*background: #282828
!! soft contrast: *background: #32302f
!*foreground: #ebdbb2
!! Black + DarkGrey
!*color0:  #282828
!*color8:  #928374
!! DarkRed + Red
!*color1:  #cc241d
!*color9:  #fb4934
!! DarkGreen + Green
!*color2:  #98971a
!*color10: #b8bb26
!! DarkYellow + Yellow
!*color3:  #d79921
!*color11: #fabd2f
!! DarkBlue + Blue
!*color4:  #458588
!*color12: #83a598
!! DarkMagenta + Magenta
!*color5:  #b16286
!*color13: #d3869b
!! DarkCyan + Cyan
!*color6:  #689d6a
!*color14: #8ec07c
!! LightGrey + White
!*color7:  #a89984
!*color15: #ebdbb2

! Base16 Gruvbox dark, medium
! Scheme: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

#define base00 #282828
#define base01 #3c3836
#define base02 #504945
#define base03 #665c54
#define base04 #bdae93
#define base05 #d5c4a1
#define base06 #ebdbb2
#define base07 #fbf1c7
#define base08 #fb4934
#define base09 #fe8019
#define base0A #fabd2f
#define base0B #b8bb26
#define base0C #8ec07c
#define base0D #83a598
#define base0E #d3869b
#define base0F #d65d0e

*.foreground:   base05
#ifdef background_opacity
*.background:   [background_opacity]base00
#else
*.background:   base00
#endif
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06

